extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to delete
  else
    - let horseid = toShow._id
    - let horse_color = toShow.horse_color
    - let horse_breed = toShow.horse_breed
    - let horse_price = toShow.horse_price
    - let actionid = "/resource/horses/" + horseid
    script let actionid = "#{actionid}"
    div
     div.row 
      div(class='horseAttr mr-3') horse ID is:
      div #{horseid}
     div.row
      div(class='horseAttr mr-3') horse color is:
      div #{horse_color}
     div.row
      div(class='horseAttr mr-3') horse breed is:
      div #{horse_breed}
     div.row
      div(class='horseAttr mr-3') horse Price is:
      div #{horse_price}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
   function cancel() {
    window.location.href='/horses'
    }
  script.
    function deleteOnid() {
     console.log("starting delete")
     fetch(actionid, {
      method: 'DELETE'
     }).then((resp) => {
        return resp.json();
     }).then((body) => {
        alert("Delete succeded")
        window.location.href='/horse'
     }).catch((error) => {
        alert("Delete failed " + error )
     });
    }