extends layout
block content
 h1= title
 - let horseid = toShow._id
 - let horse_color = toShow.horse_color
 - let horse_breed = toShow.horse_breed
 - let horse_price = toShow.horse_price
 div.row(class='mb-2')
 div.mr-1 ID is
 div #{horseid}
 - let actionid = "/resource/horse/" + horseid
 form(id='horseForm', action=actionid, method="PUT")
  div.form-group
   label.horseAttr(for='horse_color') horse color
   input#horse_color(type='text', name='horse_color',value=horse_color)
  div.form-group
   label.horseAttr(for='horse_breed') horse breed
   input#horse_breed(type='text', name='horse_breed',value=horse_breed)
  div.form-group
   label.horseAttr(for='horse_price') horse price
   input#horse_price(type='number', name='horse_price',value=horse_price)
  input(type="submit")
 script.
  document.forms['horseForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) 
    }).then((resp) => {
        return resp.json();
    }).then((body) => {
        alert("Save succeded")
    }).catch((error) => {
        alert("Save failed " + error )
    });
   });