extends layout

block content
  h1= title
  //- - let items = ['horse_type','quantity','cost']
  - let items = results;
  - let o;
  script.
    function buy(x){
      alert('purchased item ' + x)
   } 
  div(class='container-fluid')
    button.btn(class="btn btn-success",href="/horse/Create") Create
    div(class='row m-1')
    div(class="row row-cols-1 row-cols-sm-4 g-6")
      each item,index in items
        - let destination = `dispatch(\"/horse/update?id=${item._id}\")`
        - let details = `dispatch(\"/horse/detail?id=${item._id}\")` 
        - let Delete = `dispatch(\"/horse/delete/?id=${item._id}\")`
        div(class="horsed text-black mb-3" class='col' class='horsed' class='horsed-body' class='horsed-text' onclick='buy('+index+')') Item color is #{item.horse_color}(Item breed is #{item.horse_breed})price is #{item.horse_price} 
          <br><br>
          button.btn( class="btn-primary", onclick= destination) Update
          button.btn(class="btn-success",onclick=details) Details
          button.btn(class="btn btn-danger",onClick=Delete) Delete

  script.
    function dispatch(path){
      window.location.href=path
    }